body {
   height: 100vh;
   display: grid;
   grid-template-rows: 10% auto clamp(10%, 8rem, 10%);
   background-image: url('../assets/images/splashh.png');
   background-size: cover;
}

img {
   width: 200px;
}

p,
h1,
i {
   color: white;
}

p {
   font-family: 'IM Fell Great Primer SC', serif;
   font-weight: 300;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

main > h1 {
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   font-size: 3.5rem;
   font-size: clamp(3.5vh, 8rem, 4vw);
}

main > p {
   font-size: 2vw;
   font-size: clamp(2vh, 8rem, 2.5vw);
}

aside {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: repeat(auto, 3);
   margin: 0 10px;
}

aside span {
   display: flex;
   align-items: center;
   margin: 0px 10px;
   text-align: start;
}

aside span p {
   margin: 0;
   font-size: 1.2vh;
   font-size: clamp(1.5vh, 8rem, 1.5vw);
}

aside span i {
   margin-right: 10px;
   font-size: 1.5vh;
   font-size: clamp(2vh, 8rem, 2vw);
}

.btn-three {
   color: #fff;
   font-weight: 600;
   transition: all 0.5s;
   position: relative;
   width: 150px;
   width: clamp(150px, 200px, 17vw);
}

.btn-three::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 1rem;
   width: 100%;
   height: 100%;
   z-index: 1;
   background-color: rgba(255, 255, 255, 0.301);
   transition: all 0.3s;
}

.btn-three:hover::before,
.btn-three:active::before {
   opacity: 0;
   transform: scale(0.5, 0.5);
}

.btn-three::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 1rem;
   z-index: 1;
   opacity: 0;
   transition: all 0.3s;
   border: 3px solid rgb(231, 214, 190, 0.5);
   transform: scale(1.2, 1.2);
}

.btn-three:hover::after,
.btn-three:active::after {
   opacity: 1;
   transform: scale(1, 1);
}

@media only screen and (min-width: 768px) {
   aside {
      display: grid;
      gap: 1rem;
      grid-template-columns: auto 25% 15%;
   }

   aside span {
      justify-content: center;
   }
}
