.all {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-image: url("../assets/images/jasabg.png");
   background-size: cover;
   background-repeat: no-repeat;
}

.tengah {
   text-align: center;
}

.judulevent {
   font-family: "Playfair Display", serif;
   color: white;
   font-weight: 900;
}

.eventabout {
   font-family: "News Cycle", sans-serif;
   color: #d8ba55;
   font-weight: 700;
   font-size: 1.5em;
}

.carousel-item > img {
   width: 700px;
   height: auto;
}

@media only screen and (max-width: 600px) {
   .carousel-item > img {
      width: 20em;
   }
   .eventabout {
      font-size: 1em;
   }
}
@media only screen and (min-width: 600px) {
   .carousel-item > img {
      width: 25em;
   }
   .eventabout {
      font-size: 1em;
   }
}
@media only screen and (min-width: 768px) {
   .carousel-item > img {
      width: 55vw;
   }
   .eventabout {
      font-size: 1.2em;
      margin-bottom: 2rem;
   }
}
@media only screen and (min-width: 1200px) {
   .carousel-item > img {
      width: 700px;
   }
   .eventabout {
      font-size: 1.5em;
   }
}
