/* <-------batas header------> */
.navbar {
   font-family: "Playfair Display", serif;
   font-weight: 900;
}

.ukuran {
   height: 50vh;
}

.navbar .navbar-collapse {
   text-align: center;
}

a {
   font-size: 1.25vw;
   font-style: "News Cycle", sans-serif;
   font-weight: 600;
}