/* <-------batas header------> */
.navbar {
   font-family: "Playfair Display", serif;
   font-weight: 900;
}

nav {
   background-color: #5c5024;
}

.navbar .navbar-collapse {
   text-align: center;
}

a {
   font-style: "News Cycle", sans-serif;
   font-weight: 600;
}
