<<<<<<< Updated upstream
.ptDesc {
   color: white;
   font-family: "News Cycle", sans-serif;
   font-weight: 400;
   font-size: 1.5rem;
=======
/* .bg-image {

   height: 100%;

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.img1 {
   background-image: url("../assets/images/home1.png");
}
.img2 {
   background-image: url("../assets/images/home2.png");
}
.img3 {
   background-image: url("../assets/images/home3.png");
} */

.jasa > h1 {
   font-family: "Playfair Display", serif;
   font-size: 2.5vw;
   font-weight: 800;
>>>>>>> Stashed changes
}

.jasa {
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.hexagon {
   background-color: antiquewhite;
   width: 39vw;
   display: flex;
   flex-wrap: wrap;
}

.hex {
   width: 12vw;
   height: 14vw;
   clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
   background: deeppink;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   transition: 0.5s;
   margin: 0 0.5vw;
}

.hex:hover {
   transform: scale(0.8);
}

.hex1 {
   margin-left: 7vw;
}

.hex2 {
   margin-top: -2.5vw;
}

<<<<<<< Updated upstream
=======
.whyus h1 {
   font-family: "Playfair Display", serif;
   font-size: 2.5vw;
   font-weight: 800;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.whydesc {
   font-family: "News Cycle", sans-serif;
   font-weight: 700;
   font-size: 1.5rem;
   color: #d8ba55;
   text-align: center;
}

>>>>>>> Stashed changes
@media only screen and (max-width: 600px) {
   .logoz {
      width: 200px;
   }
   .ptDesc {
      color: white;
      font-family: "News Cycle", sans-serif;
      font-weight: 700;
      font-size: 1rem;
   }
   .hexagon {
      background-color: antiquewhite;
      width: 62vw;
      display: flex;
      flex-wrap: wrap;
   }

   .hex {
      width: 30vw;
      height: 32vw;
      margin: 0 0.5vw;
   }

   .hex1 {
      margin: 0vw;
   }

   .hex2 {
      margin: 0vw;
   }

   .hex3 {
      margin: 0 0.5vw;
      margin-top: -7vw;
   }

   .hex4 {
      margin-left: 16vw;
   }
}

@media only screen and (min-width: 600px) {
   .logoz {
      width: 200px;
   }
   .ptDesc {
      color: white;
      font-family: "News Cycle", sans-serif;
      font-weight: 700;
      font-size: 1.3rem;
   }
}

@media only screen and (min-width: 768px) {
   .logoz {
      width: 250px;
   }
   .ptDesc {
      color: white;
      font-family: "News Cycle", sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
   }
}

@media only screen and (min-width: 1200px) {
   .logoz {
      width: 300px;
   }

   .ptDesc {
      color: white;
      font-family: "News Cycle", sans-serif;
      font-weight: 700;
      font-size: 2rem;
   }
}
