/* .bg-image {

   height: 100%;

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.img1 {
   background-image: url("../assets/images/home1.png");
}
.img2 {
   background-image: url("../assets/images/home2.png");
}
.img3 {
   background-image: url("../assets/images/home3.png");
} */

.jasa > h1 {
   font-family: "Playfair Display", serif;
   font-size: 2.5vw;
   font-weight: 800;
}

.jasa {
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.hexagon {
   width: 39vw;
   display: flex;
   flex-wrap: wrap;
}

.hex {
   width: 12vw;
   height: 14vw;
   clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
   display: flex;
   background-size: cover;
   background-position: center;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   transition: 0.5s;
   margin: 0 0.5vw;
}

.hex > .shadow {
   background: rgb(0, 0, 0);
   background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 100%
   );
   width: 100%;
   height: 100%;
}

.shadow > a {
   text-decoration: none;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 2vh;
}

.juduljasa {
   color: #d8ba55;
   font-family: "Playfair Display", serif;
   font-weight: 600;
   font-size: 1.1vw;
   text-align: center;
}

.tomboljasa {
   border: 2px solid white;
   padding: 3px 5px;
   color: white;
}

.hex:hover {
   transform: scale(0.8);
}

.hex1 {
   margin-left: 7vw;
}

.hex2 {
   margin-top: -2.5vw;
}

.whyus h1 {
   font-family: "Playfair Display", serif;
   font-size: 2.5vw;
   font-weight: 800;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.whydesc {
   font-family: "News Cycle", sans-serif;
   font-weight: 700;
   font-size: 1.5rem;
   color: #d8ba55;
   text-align: center;
}

@media only screen and (max-width: 600px) {
   .logoz {
      width: 200px;
   }
   .ptDesc {
      color: white;
      font-family: "News Cycle", sans-serif;
      font-weight: 700;
      font-size: 1.2rem;
   }
   .hexagon {
      width: 62vw;
      display: flex;
      flex-wrap: wrap;
   }

   .hex {
      width: 30vw;
      height: 32vw;
      margin: 0 0.5vw;
   }

   .hex1 {
      margin: 0vw;
   }

   .hex2 {
      margin: 0vw;
   }

   .hex3 {
      margin: 0 0.5vw;
      margin-top: -7vw;
   }

   .hex4 {
      margin-left: 16vw;
   }

   .juduljasa {
      color: #d8ba55;
      font-family: "Playfair Display", serif;
      font-weight: 600;
      font-size: 1rem;
      text-align: center;
   }

   .jasa > h1 {
      font-family: "Playfair Display", serif;
      font-size: 1.5rem;
      font-weight: 800;
   }
   .whyus h1 {
      font-family: "Playfair Display", serif;
      font-size: 1.5rem;
      font-weight: 800;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .whydesc {
      font-family: "News Cycle", sans-serif;
      font-weight: 700;
      font-size: 1.3rem;
      color: #d8ba55;
      text-align: center;
   }
}

@media only screen and (min-width: 600px) {
   .logoz {
      width: 200px;
   }
   .ptDesc {
      color: white;
      font-family: "News Cycle", sans-serif;
      font-weight: 700;
      font-size: 1.3rem;
   }

   .jasa > h1 {
      font-family: "Playfair Display", serif;
      font-size: 1.5rem;
      font-weight: 800;
   }
   .whyus h1 {
      font-family: "Playfair Display", serif;
      font-size: 1.5rem;
      font-weight: 800;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .whydesc {
      font-family: "News Cycle", sans-serif;
      font-weight: 700;
      font-size: 1.3rem;
      color: #d8ba55;
      text-align: center;
   }
}

@media only screen and (max-width: 767px) {
   .hexagon {
      width: 62vw;
      display: flex;
      flex-wrap: wrap;
   }

   .hex {
      width: 30vw;
      height: 32vw;
      margin: 0 0.5vw;
   }

   .hex1 {
      margin: 0vw;
   }

   .hex2 {
      margin: 0vw;
   }

   .hex3 {
      margin: 0 0.5vw;
      margin-top: -7vw;
   }

   .hex4 {
      margin-left: 16vw;
   }

   .juduljasa {
      color: #d8ba55;
      font-family: "Playfair Display", serif;
      font-weight: 600;
      font-size: 1.2rem;
      text-align: center;
   }
}

@media only screen and (min-width: 768px) {
   .logoz {
      width: 250px;
   }
   .ptDesc {
      color: white;
      font-family: "News Cycle", sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
   }
   .jasa > h1 {
      font-family: "Playfair Display", serif;
      font-size: 2rem;
      font-weight: 800;
   }
   .whyus h1 {
      font-family: "Playfair Display", serif;
      font-size: 2rem;
      font-weight: 800;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .whydesc {
      font-family: "News Cycle", sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      color: #d8ba55;
      text-align: center;
   }
}

@media only screen and (min-width: 1200px) {
   .logoz {
      width: 300px;
   }

   .ptDesc {
      color: white;
      font-family: "News Cycle", sans-serif;
      font-weight: 700;
      font-size: 2rem;
   }
   .jasa > h1 {
      font-family: "Playfair Display", serif;
      font-size: 2.5rem;
      font-weight: 800;
   }
   .whyus h1 {
      font-family: "Playfair Display", serif;
      font-size: 2.5rem;
      font-weight: 800;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}
