.all {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-image: url("../assets/images/teambg.png");
   background-size: cover;
   background-repeat: no-repeat;
}

.all img {
   width: 50vw;
   min-width: 400px;
   margin: auto;
}