.all {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-image: url('../assets/images/visibg.png');
   background-size: cover;
   background-repeat: no-repeat;
}

.vmm {
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: auto;
}
.vm > h1 {
   font-family: 'Playfair Display', serif;
   color: white;
   font-size: 35px;
   font-weight: 800;
   margin-top: 2%;
}
.vm > p {
   font-family: 'DM Sans', sans-serif;
   color: #d8ba55;
   font-size: 20px;
   font-weight: 400;
   margin: 0 5% 10% 5%;
}

@media only screen and (max-width: 600px) {
   .vm > h1 {
      font-size: 35px;
      font-weight: 800;
      margin-top: 2%;
   }

   .vm > p {
      font-size: 20px;
      font-weight: 400;
      margin: 0 5% 10% 5%;
   }
}

@media only screen and (min-width: 600px) {
   .vm > h1 {
      font-size: 50px;
      font-weight: 800;
      margin-top: 2%;
   }

   .vm > p {
      font-size: 20px;
      font-weight: 400;
      margin: 0 5% 10% 5%;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .vm > h1 {
      font-size: 55px;
      font-weight: 800;
      margin-top: 2%;
   }

   .vm > p {
      font-size: 25px;
      font-weight: 400;
      margin: 0 5% 10% 5%;
   }
}

@media only screen and (min-width: 1200px) {
   .vm > h1 {
      font-size: 60px;
      font-weight: 800;
      margin-top: 2%;
   }

   .vm > p {
      font-size: 30px;
      font-weight: 400;
      margin: 0 5% 6% 5%;
   }
}
