.navi {
   height: 10vh;
   display: flex;
   justify-content: center;
   background-color: #5c5024;
}

.vmm {
   justify-content: center;
   align-items: center;
   text-align: center;
}

@media only screen and (max-width: 600px) {
   .vm>h1 {
      font-family: "Playfair Display", serif;
      color: white;
      font-size: 35px;
      font-weight: 800;
      margin-top: 3%;
   }

   .vm>p {
      font-family: "News Cycle", sans-serif;
      color: #d8ba55;
      font-size: 20px;
      font-weight: 400;
      margin: 0 5% 10% 5%;
   }
}

@media only screen and (min-width: 600px) {
   .vm>h1 {
      font-family: "Playfair Display", serif;
      color: white;
      font-size: 50px;
      font-weight: 800;
      margin-top: 3%;
   }

   .vm>p {
      font-family: "News Cycle", sans-serif;
      color: #d8ba55;
      font-size: 20px;
      font-weight: 400;
      margin: 0 5% 10% 5%;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .vm>h1 {
      font-family: "Playfair Display", serif;
      color: white;
      font-size: 55px;
      font-weight: 800;
      margin-top: 3%;
   }

   .vm>p {
      font-family: "News Cycle", sans-serif;
      color: #d8ba55;
      font-size: 25px;
      font-weight: 400;
      margin: 0 5% 10% 5%;
   }
}

@media only screen and (min-width: 1200px) {
   .vm>h1 {
      font-family: "Playfair Display", serif;
      color: white;
      font-size: 60px;
      font-weight: 800;
      margin-top: 3%;
   }

   .vm>p {
      font-family: "News Cycle", sans-serif;
      color: #d8ba55;
      font-size: 30px;
      font-weight: 400;
      margin: 0 5% 10% 5%;
   }
}