/* font-family: "IM Fell Great Primer SC", serif;
font-family: "News Cycle", sans-serif;


*/
/* <-------batas index-------> */
* {
   font-family: "News Cycle", sans-serif;
   color: white;
}

.logo {
   display: block;
   width: 10%;
   height: auto;
}

.center {
   text-align: center;
   /* padding: 10% 0; */
}

div > h1 {
   font-family: "Playfair Display", serif;
   font-weight: 700;
   font-size: 4vw;
}

div > p {
   font-family: "IM Fell Great Primer SC", serif;
   font-weight: 300;
   font-size: 2vw;
}

a > .btn {
   border-width: 0.3rem;
   border-color: rgb(231, 214, 190);
   border-radius: 1rem;
   background-color: rgba(0, 0, 0, 5);
   font-weight: 600;
}

footer {
   position: fixed;
}

/* <-------batas index-------> */

/* <-------------------------> */

/* <-------batas header------> */
nav {
   font-family: "Playfair Display", serif;
}

a > img {
   size: 1vw;
}
