.bg {
   background-image: url("images/visibg.png"), url("images/lines.png");
   background-position: center, center;
   background-size: cover;
   background-repeat: no-repeat;
}

.vmm {
   justify-content: center;
}
.vm {
   align-items: center;
   text-align: center;
}

.vm > h1 {
   font-family: "Playfair Display", serif;
   color: white;
   font-size: 4vw;
   font-weight: 800;
   margin-top: 3%;
}

.vm > p {
   font-family: "News Cycle", sans-serif;
   color: #d8ba55;
   font-size: 2vw;
   font-weight: 400;
   margin: 0 5% 10% 5%;
}
