.vmm {
   justify-content: center;
}

.vm {
   align-items: center;
   text-align: center;
}

.vm > h1 {
   font-family: "Playfair Display", serif;
   color: white;
   font-size: 60px;
   font-weight: 800;
   margin-top: 3%;
}

.vm > p {
   font-family: "News Cycle", sans-serif;
   color: #d8ba55;
   font-size: 30px;
   font-weight: 400;
   margin: 0 5% 10% 5%;
}
